@charset "UTF-8";

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('../fonts/SourceSansPro-Light.ttf') ;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('../fonts/SourceSansPro-Regular.ttf') ;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('../fonts/SourceSansPro-Bold.ttf') ;
}

body, html, ul, li, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-family: "Source Sans Pro", "Hiragino Sans GB", "Microsoft Yahei", Arial, sans-serif;
}

body {
    background-color: rgba(173, 202, 185, 1);
    height: 100%;
}

ul {
    list-style: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: '.';
    background-color: red;
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.clear-float {
    clear: both;
}

.hide {
    display: none;
}

.border-normal {
    border: 1px rgba(57, 62, 79, 0.15) solid;
}

.pag-max-width {
    max-width: 1170px;
    min-width: 320px;
}

.go-to-top {
    padding: 10px;
    position: fixed;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
    top: 150px;
    right: -100px;
    border: 1px lightgray solid;
    outline: none;
    cursor: pointer;
    display: none;
}

.go-to-top span {
    font-size: 14px;
}

.content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    top: 0;
    box-sizing: border-box;
}

/*********************header*/
.header {
    width: 100%;
    min-height: 50px;
    margin: 0 auto;
    background: rgba(57, 62, 79, 1);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    z-index: 100;
    position: fixed;
}

.header .header-menu {
    position: relative;
}

.header .header-menu > div {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.header > div:first-child {
    margin-left: 16px;
}

.header .site {
    width: 200px;
}

.header .site-title, .header .site-icon {
    cursor: pointer;
}

.header .site-icon {
    color: rgba(255, 255, 255, 0.8);
}

.header .site-title {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
}

.header .menu-icon:focus, .header .menu-icon:hover, .header .menu-icon:active {
    color: white;
}

.click-state:active, .click-state:hover, .click-state:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.header .menu-icon {
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
}

.header .header-menu .search-box {
    height: 50px;
    float: left;
    position: relative;
    width: 200px;
    margin-left: 16px;
}

.header .header-menu .search {
    box-sizing: border-box;
    border-radius: 20px;
    background-color: white;
    padding: 0 2px 0 10px;
    height: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header .header-menu .search > * {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header .header-menu .search input {
    height: 32px;
    color: grey;
    outline: none;
    background: none;
    border: none;
    font-weight: lighter;
    vertical-align: middle;
    float: left;
}

.header .header-menu .search span {
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
    vertical-align: middle;
    color: grey;
    float: right;
}

.header .header-menu .login {
    font-size: 14px;
    line-height: 50px;
    height: 50px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    padding: 0 16px;
}

.header .setting, .header .bars {
    display: none;
}

.header-mobile-menu {
    margin-top: 50px;
    display: none;
}

.header-mobile-menu .search-item {
    position: relative;
    height: 45px;
}

.header-mobile-menu .search {
    box-sizing: border-box;
    border-radius: 20px;
    background-color: white;
    padding: 0 12px;
    margin: 0 16px;
    height: 28px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.header-mobile-menu .search input {
    height: 28px;
    width: 90%;
    color: grey;
    outline: none;
    background: none;
    border: none;
    font-weight: lighter;
    box-sizing: border-box;
    vertical-align: middle;
    float: left;
}

.header-mobile-menu .search span {
    width: 10%;
    box-sizing: border-box;
    height: 28px;
    line-height: 28px;
    text-align: right;
    font-size: 16px;
    cursor: pointer;
    vertical-align: middle;
    color: grey;
    float: right;
}

.header-mobile-menu .notice,
.header-mobile-menu .login {
    padding: 10px 15px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    border-top: 1px solid rgba(47, 52, 69, 1);

}

.header-mobile-menu .login span {
    margin-right: 2px;
}

.header-mobile-menu .notice span {
    margin-right: 6px;
}

/****************controller*/
.container {
    width: 100%;
    height: 100%;
    background-color: rgba(241, 243, 244, 1);
    position: relative;
    box-sizing: border-box;
    /*top: 50px;*/
    /*overflow: hidden;*/
}

.glide-left {
    width: 200px;
    background-color: rgba(237, 241, 242, 1);
    position: fixed;
    margin-top: 50px;
    height: 100%;
    /*overflow: hidden;*/
    /*box-shadow: -10px 0px 40px rgba(0, 0, 0, 0.25);*/
}

.glide-left-scroll::-webkit-scrollbar {
    display: none; /* Safari and Chrome*/
}

.glide-left-scroll {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE 10+*/
    overflow: -moz-scrollbars-none; /* Firefox*/
    webkit-overflow-scrolling: touch;
}

@-moz-document url-prefix() {
    .glide-left-scroll {
        overflow-y: scroll;
        padding-right: 17px;
    }
}

.glide-left .avatar-box {
    width: 100%;
    margin: 0 auto;
    height: auto;
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px rgba(57, 62, 79, 0.07) solid;
}

.glide-left .avatar-box img {
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
}

.glide-left .avatar-box .name {
    width: 100%;
    color: rgba(57, 62, 79, 0.9);
    font-size: 14px;
    position: relative;
    top: 10px;
    font-weight: bold;
    cursor: pointer;
}

.glide-left .avatar-box .desc {
    width: 100%;
    color: rgba(57, 62, 79, 0.6);
    position: relative;
    top: 12px;
    font-size: 12px;
}

.glide-left .nav-title {
    padding-left: 16px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(57, 62, 79, 0.4);
}

.glide-left .nav-first, .glide-left .nav-second {
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 10px 0;
    border-bottom: 1px rgba(57, 62, 79, 0.07) solid;
}

.glide-left .nav-first .nav-icon {
    margin-right: 16px;
}

.glide-left .nav-first .nav-item {
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px 16px;
    color: rgba(57, 62, 79, 0.7);
}

#sidebar ul {
    list-style: none;
}

#sidebar .menu-item {
    padding: 10px 16px;
    color: rgba(57, 62, 79, 0.7);
    font-size: 14px;
    position: relative;
    height: 100%;
    cursor: pointer;
}

#sidebar .sub-menu {
    display: none;
}

#sidebar .menu-item .menu-icon {
    margin-right: 16px;
}

#sidebar .menu-item .menu-ind {
    position: absolute;
    top: 14px;
    right: 25px;
    font-size: 10px;
    color: rgba(57, 62, 79, 0.4);
    /* -webkit-transition: all 0.10s ease-in;
     -o-transition: all 0.10s ease-in;
     transition: all 0.10s ease-in;*/
}

#sidebar .open .menu-ind {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.glide-left .spec-menu-item {
    padding: 10px 0 10px 49px;
    background-color: rgba(228, 234, 236, 1);
    display: block;
    color: rgba(57, 62, 79, 0.7);
    font-size: 14px;
    text-decoration: none;
}

.glide-left .spec-menu-item:active,
.glide-left .spec-menu-item:hover,
.glide-left .spec-menu-item:focus {
    background-color: rgba(218, 224, 226, 1);
}

.glide-right {
    width: 250px;
    height: 100%;
    background-color: white;
    border-left: 1px rgba(57, 62, 79, 0.15) solid;

    box-sizing: border-box;
    float: left;
}

/************************main-page*/
.main-page {
    display: table;
    margin-left: 200px;
    border-color: #0066cc;
    width: 970px;
    padding-top: 50px;
    height: 100%;
    background-color: rgba(241, 243, 244, 1);
    position: relative;
    padding-bottom: 54px;
    overflow-x: auto; /*Safari */
}

/*************************tab*/
#tab ul {
    list-style: none;
    height: 100%;
    box-sizing: border-box;
}

#tab .tab-title li {
    display: block;
    float: left;
    height: 58px;
    line-height: 58px;
    font-size: 16px;
    width: 33.3333%;
    text-align: center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);

    border-bottom: 1px rgba(57, 62, 79, 0.15) solid;
}

#tab .tab-title .select {
    border-bottom: 1px rgba(0, 172, 213, 0.8) solid;
}

#tab .tab-content {
    clear: both;
    height: 100%;
}

#tab .tab-content-item {
    display: none;
    padding: 20px;
}

#tab .tab-content-item .sort {
    margin-bottom: 60px;
}

#tab .tab-content-item .sort h2,
#tab .tab-content-item .directory h2,
#tab .tab-content-item .tag h2 {
    font-size: 18px;
    color: grey;
    clear: both;
    font-weight: normal;
}

#tab .tab-content-item .sort .sort-list {
    margin-top: 10px;
    width: 100%;
}

#tab .tab-content-item .sort .sort-item {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    border-left: 1px solid rgba(0, 0, 0, 0.07);
    color: rgba(121, 133, 138, 1);
    padding: 10px;
    font-weight: normal;
    cursor: pointer;
}

#tab .tab-content-item .sort .sort-item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#tab .tab-content-item .sort .sort-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#tab .tab-content-item .sort .sort-list .sort-title {
    font-size: 14px;
}

#tab .tab-content-item .sort .sort-list .sort-count {
    background: rgba(207, 218, 221, 1);
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 2px 6px;
    float: right;
    letter-spacing: 1px;
}

#tab .tab-content-item .tag {
    margin-bottom: 60px;
}

#tab .tab-content-item .tag ul {
    list-style: none;
    height: max-content;
    margin-top: 10px;
}

/*不指定高度会导致 流式布局错乱*/
#tab .tab-content-item .tag li {
    float: left;
    border-radius: 3px;
    display: block;
    line-height: 24px;
    height: 24px;
    padding: 0 8px;
    margin-right: 3px;
    margin-bottom: 8px;
    background: rgba(0, 183, 226, 1);
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: 1px;
    font-size: 12px;
    cursor: pointer;
}

/**********************directory*/
#tab .tab-content-item .directory {
    /*position: fixed;*/
    /*top: 58px;*/
    background: white;
    /*padding-bottom: 60px;*/
    position: relative;
    width: 209px;

}

#tab .tab-content-item .directory .directory-list {
    margin-top: 10px;
    width: 100%;
}

#tab .tab-content-item .directory .directory-item {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    border-left: 1px solid rgba(0, 0, 0, 0.07);
    color: rgba(121, 133, 138, 1);
    padding: 10px;
    font-weight: normal;
    cursor: pointer;
}

#tab .tab-content-item .directory .directory-item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#tab .tab-content-item .directory .directory-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#tab .tab-content-item .directory .directory-list .directory-title {
    font-size: 14px;
}

/***********************middle*/

.container .middle {
    display: table-cell;
    height: 100%;
    vertical-align: top;

    width: 100%;
}

.container .middle .middle-header {
    background: rgba(246, 248, 248, 1);
    padding: 20px;
    color: rgba(0, 0, 0, 0.9);
    border-bottom: 1px rgba(57, 62, 79, 0.15) solid;
}

.container .middle .middle-header h1 {
    font-weight: normal;
    font-size: 24px;

}

.container .middle .middle-header .desc {
    font-size: 12px;
    margin-top: 2px;
    letter-spacing: 2px;
    color: rgba(170, 183, 188, 1);
}

.breadcrumb {
    margin: 20px 20px 0px 20px;
    padding: 8px 16px;
    background: white;
    height: 25px;
    border: 1px solid rgba(57, 62, 79, 0.12);
    border-radius: 3px;
    font-size: 14px;
}

.breadcrumb li span {
    display: inline-block;
    line-height: 25px;
    height: 25px;
    margin-right: 4px;
}

.breadcrumb li {
    color: grey;
    line-height: 25px;
    height: 25px;
    display: inline-block;
    float: left;
}

.breadcrumb li * {
    float: left;
}

.breadcrumb li:before {
    content: url("../images/divider.svg");
    height: 10px;
}

.breadcrumb li:first-child:before {
    content: '';
}

.breadcrumb a {
    text-decoration: none;
    color: #58666e;
}

.middle .middle-list {
    padding: 20px;
    box-sizing: border-box;
}

/*card*/
.card-big-article {
    /*display: none;*/
    width: 100%;
    border-radius: 3px;
    background: white;
    margin-bottom: 10px;
}

.card-big-article > .img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-big-article > .img {
    padding: 1px;
    width: 100%;
    box-sizing: border-box;
    height: 220px;
    overflow: hidden;
    cursor: pointer;
}

.card-big-article > .text {
    padding: 20px 28px;
    box-sizing: border-box;
}

.card-big-article > .text .article-title,
.card-small-article > .text .article-title {
    font-size: 30px;
    color: #58666e;
    cursor: pointer;
    font-weight: normal;
}

.card-big-article .text .desc,
.card-small-article .text .desc {
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 5px;
    color: rgba(120, 132, 138, 1);
    padding-bottom: 12px;
    border-bottom: 1px rgba(57, 62, 79, 0.07) solid;
}

.card-big-article .text .footer,
.card-small-article .text .footer {
    padding: 12px 0;
    font-size: 14px;
    color: rgba(170, 183, 188, 1);
}

.text .footer .author,
.text .footer .date,
.text .footer .comment {
    margin-right: 15px;
}

.card-small-article {
    width: 100%;
    background: white;
    margin-bottom: 20px;
    height: 220px;
    box-sizing: border-box;
    position: relative;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.07);
}

.card-small-article .text {
    padding: 20px 56px;
    box-sizing: border-box;
}

.card-small-article > .img > img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.card-small-article .img {
    width: 30%;
    padding: 2px;
    height: 100%;
    box-sizing: border-box;
    float: left;
}

.card-small-article .text {
    /*width: 480px;*/
    width: 70%;
    box-sizing: border-box;
    float: left;
}

.card-small-article:hover,
.card-big-article:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.card-small-article .text .article-title a,
.card-big-article .text .article-title a {
    text-decoration: none;
    color: #000;
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 16px;
    border-top: 1px rgba(57, 62, 79, 0.15) solid;
    font-size: 14px;
    color: rgba(107, 118, 121, 0.7);
    background: rgba(237, 241, 242, 1);
}

.text .article-footer {
    padding: 28px 0;
}

.text .article-footer .item-1 {
    font-size: 12px;
    color: lightgray;
}

/*分页开始*/
.pagination {
    text-align: center;
    font-size: 0;
    margin-bottom: 0px;
}

.pagination li {
    line-height: 25px;
    display: inline-block;
    padding: 2px;
    border-top: 1px rgba(57, 62, 79, 0.15) solid;
    border-bottom: 1px rgba(57, 62, 79, 0.15) solid;
    border-left: 1px rgba(57, 62, 79, 0.15) solid;
}

.pagination li:last-child {
    border-right: 1px rgba(57, 62, 79, 0.15) solid;
}

.pagination a {
    font-size: 14px;
    display: block;
    color: rgb(44, 121, 179);
    text-decoration: none;
    padding: 0 10px;
}

.pagination a span {
    font-size: 8px;
}

.pagination li:hover:not(.select) {
    background: lightgray;
}

.pagination .select {
    background: rgb(44, 121, 179);
    color: white;
}

.pagination .select a {
    color: white;
}

.standing-position {
    height: 60px;
}

/*分页结束*/

/*页面导航开始*/
.page-nav {
    padding: 0 20px 60px 20px;
}

.page-nav .prev, .page-nav .next {
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 30px;
    background: white;
    color: grey;
}

/*页面导航结束*/

/*评论模块开发*/
.comment {
    padding: 0 20px;
    margin-bottom: 20px;
}

.comment .comment-title, .comment-list .list-title {
    font-size: 18px;
    font-weight: normal;
    color: grey;
}

.comment .comment-item-group {
    display: inline-block;
    box-sizing: border-box;
}

.comment-item-content {
    width: 100%;
}

.comment .comment-item-group label {
    display: block;
    font-size: 14px;
    color: grey;
    padding-top: 12px;
    padding-bottom: 8px;
}

.comment .comment-item-group textarea {
    width: 100%;
    min-height: 100px;
    resize: vertical;
    outline: none;
    padding: 5px 12px;
    box-sizing: border-box;
    font-size: 14px;
    color: black;
}

.content .comment-item-group input {
    padding: 0px 12px;
    line-height: 36px;
    box-sizing: border-box;
    height: 36px;
    outline: none;
    width: 100%;
    font-size: 14px;
}

#visitor-info {
    margin-left: -10px;
    margin-right: -10px;
    box-sizing: border-box;
    font-size: 0px;
}

.commit-item-name,
.commit-item-mail,
.commit-item-url {
    width: 33.333%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

input::-webkit-input-placeholder { /* WebKit browsers*/
    color: lightgray;
    opacity: 1;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18*/
    color: lightgray;
    opacity: 1;

}

input::-moz-placeholder { /* Mozilla Firefox 19+*/
    color: lightgray;
    opacity: 1;

}

input:-ms-input-placeholder { /* Internet Explorer 10+*/
    color: lightgray;
    opacity: 1;
}

.comment .comment-item-group input:focus,
.comment .comment-item-group input:active,
.comment .comment-item-group textarea:focus,
.comment .comment-item-group textarea:active {
    border: 1px solid #66afe9;
}

.requested {
    color: red;
    margin-left: 3px;
    font-size: 14px;
}

.comment .comment-submit {
    color: white;
    background: rgba(5, 184, 83, 1);
    margin-top: 20px;
    padding: 8px 24px;
    font-size: 14px;
    border: none;
    outline: none;
    font-weight: lighter;
    cursor: pointer;
}

/*评论模块结束*/

/*评论列表开始*/
.comment-list {
    padding: 0 20px;
    margin-bottom: 20px;
}

.comment-list-content {
    padding: 5px 0;
    margin-bottom: 10px;
}

.comment-list .comment-list-item {
    padding: 10px 0;
}

.comment-list .comment-author {
    display: table;
}

.comment-list .comment-author .author-avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    float: left;
    border-radius: 30px;
}

.comment-list .comment-author .author-name-time {
    display: table-cell;
    height: 100%;
    padding-left: 10px;
    width: 100%;
    vertical-align: middle;
}

.comment-list .author-name-time .author-time,
.comment-list .author-name-time .author-name {
    display: block;
    font-size: 14px;
}

.comment-list .author-name-time .author-name {
    font-weight: bold;
}

.comment-list .author-name-time .author-title {
    background: rgba(57, 62, 78, 1);
    display: inline-block;
    padding: 1px 5px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    font-weight: lighter;
    margin-left: 4px;
    border-radius: 5px;
}

.comment-list .author-name-time .author-time {
    font-weight: lighter;
    letter-spacing: 1px;
    margin-top: 4px;
}

.comment-list .author-avatar img {
    width: 100%;
    height: 100%;
}

.comment-list .comment-list-item .comment-content {
    padding: 5px 0;
    margin-left: 60px;
    letter-spacing: 1px;
    font-size: 16px;
}

.comment-list .comment-reply {
    background: rgba(0, 183, 226, 1);
    outline: none;
    text-shadow: 1px 1px grey;
    font-size: 13px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: lighter;
    margin-left: 60px;
    margin-top: 5px;
    padding: 2px 8px;
}

.comment-list .sub-comment-list-item {
    margin-left: 60px;
    margin-top: 5px;
}

/*评论列表结束*/

@media (min-width: 1750px) {
    .pag-max-width {
        max-width: 1350px;
    }

    .container .main-page {
        width: 1150px;
    }

    .card-big-article .img {
        height: 250px;
    }

    .card-small-article .img {
        width: 25%;
    }

    .card-small-article .text {
        width: 75%;
    }
}

@media (max-width: 1200px) {
    .pag-max-width {
        max-width: 950px;
    }

    .container .main-page {
        width: 750px;
    }

    .card-big-article .text .article-title,
    .card-small-article .text .article-title {
        font-size: 25px;
    }

    .card-small-article {
        height: auto;
    }

    .card-small-article .img {
        width: 100%;
        float: none;
        overflow: hidden;
    }

    .card-small-article .img,
    .card-big-article .img {
        height: 180px;
    }

    .card-small-article .text {
        width: 100%;
        padding: 20px 28px;
        float: none;
    }
}

@media (max-width: 991px) {

    .hide-max-991 {
        display: none;
    }

    .pag-max-width {
        max-width: 750px;
    }

    .container .main-page {
        width: 550px;
    }

    .commit-item-name,
    .commit-item-mail {
        width: 50%;
    }

    .commit-item-url {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .hide-max-768 {
        display: none;
    }

    .header .setting,
    .header .bars {
        display: block;
    }

    .pag-max-width {
        max-width: 100%;
    }

    .container {
        margin-left: 0;
        width: 100%;
    }

    .container .main-page {
        /*margin-left: 0;*/
        width: 100%;
        /*overflow: hidden;*/
    }

    .card-small-article .img,
    .card-big-article .img {
        height: 200px;
    }
}

@media (max-width: 600px) {
    .card-small-article .img,
    .card-big-article .img {
        height: 180px;
    }

    .middle .middle-list {
        padding: 10px;
    }

    .comment .comment-list {
        padding: 0 10px;
    }

    /*小屏幕 middle 中的内容padding缩小开始*/
    .card-big-article .text,
    .card-small-article .text {
        padding: 15px 10px;
    }

    .breadcrumb {
        margin: 10px 10px 0px 10px;
    }

    /*小屏幕 middle 中的内容padding缩小结束*/
}

@media (max-width: 500px) {
    .card-small-article .img,
    .card-big-article .img {
        height: 150px;
    }

    .commit-item-name,
    .commit-item-mail,
    .commit-item-url {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .card-small-article .img,
    .card-big-article .img {
        height: 100px;
    }
}
