@charset "UTF-8";

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('../fonts/sourcesanspro-light.woff') format('woff');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('../fonts/sourcesanspro.woff') format('woff');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('../fonts/sourcesanspro-bold.woff') format('woff');
}

body, html, ul, li, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-family: "Source Sans Pro", "Hiragino Sans GB", "Microsoft Yahei", Arial, sans-serif;
}

body {
    background-color: rgba(173, 202, 185, 1);
    height: 100%;
}

ul {
    list-style: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: '.';
    background-color: red;
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.pag-max-width {
    max-width: 1170px;
    min-width: 320px;
}

.content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    top: 0;
    box-sizing: border-box;
}

/*********************header*/
.header {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background: rgba(57, 62, 79, 1);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    z-index: 100;
    position: fixed;
}

.header .header-menu {
    position: relative;
}

.header .header-menu > div {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.header > div:first-child {
    margin-left: 16px;
}

.header .site {
    width: 200px;
}

.header .site-title, .header .site-icon {
    cursor: pointer;
}

.header .site-icon {
    color: rgba(255, 255, 255, 0.8);
}

.header .site-title {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
}

.header .menu-icon:focus, .header .menu-icon:hover, .header .menu-icon:active {
    color: white;
}

.click-state:active, .click-state:hover, .click-state:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.header .menu-icon {
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
}

.header .search-box {
    height: 50px;
    float: left;
    position: relative;
    width: 200px;
    margin-left: 16px;
}

.header .search {
    box-sizing: border-box;
    border-radius: 20px;
    background-color: white;
    padding: 0 12px;
    height: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header .search > * {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header .search input {
    height: 32px;
    color: grey;
    outline: none;
    background: none;
    border: none;
    font-weight: lighter;
    vertical-align: middle;
    float: left;
}

.header .search span {
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
    vertical-align: middle;
    color: grey;
    float: right;
}

.header .login {
    font-size: 14px;
    line-height: 50px;
    height: 50px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    padding: 0 16px;
}

/****************controller*/
.container {
    width: 100%;
    height: 100%;
    background-color: rgba(241, 243, 244, 1);
    position: relative;
    box-sizing: border-box;
    /*top: 50px;*/
    /*overflow: hidden;*/
}

.glide-left {
    width: 200px;
    background-color: rgba(237, 241, 242, 1);
    position: fixed;
    height: 100%;
    overflow: hidden;
    /*box-shadow: -10px 0px 40px rgba(0, 0, 0, 0.25);*/
}

.glide-left-scroll::-webkit-scrollbar {
    display: none; /* Safari and Chrome*/
}

.glide-left-scroll {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE 10+*/
    overflow: -moz-scrollbars-none; /* Firefox*/
    webkit-overflow-scrolling: touch;
}

@-moz-document url-prefix() {
    .glide-left-scroll {
        overflow-y: scroll;
        padding-right: 17px;
    }
}

.glide-left .avatar-box {
    width: 100%;
    margin: 0 auto;
    height: auto;
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px rgba(57, 62, 79, 0.07) solid;
}

.glide-left .avatar-box img {
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
}

.glide-left .avatar-box .name {
    width: 100%;
    color: rgba(57, 62, 79, 0.9);
    font-size: 14px;
    position: relative;
    top: 10px;
    font-weight: bold;
    cursor: pointer;
}

.glide-left .avatar-box .desc {
    width: 100%;
    color: rgba(57, 62, 79, 0.6);
    position: relative;
    top: 12px;
    font-size: 12px;
}

.glide-left .nav-title {
    padding-left: 16px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(57, 62, 79, 0.4);
}

.glide-left .nav-first, .glide-left .nav-second {
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 10px 0;
    border-bottom: 1px rgba(57, 62, 79, 0.07) solid;
}

.glide-left .nav-first .nav-icon {
    margin-right: 16px;
}

.glide-left .nav-first .nav-item {
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px 16px;
    color: rgba(57, 62, 79, 0.7);
}

#sidebar ul {
    list-style: none;
}

#sidebar .menu-item {
    padding: 10px 16px;
    color: rgba(57, 62, 79, 0.7);
    font-size: 14px;
    position: relative;
    height: 100%;
    cursor: pointer;
}

#sidebar .sub-menu {
    display: none;
}

#sidebar .menu-item .menu-icon {
    margin-right: 16px;
}

#sidebar .menu-item .menu-ind {
    position: absolute;
    top: 14px;
    right: 25px;
    font-size: 10px;
    color: rgba(57, 62, 79, 0.4);
    /* -webkit-transition: all 0.10s ease-in;
     -o-transition: all 0.10s ease-in;
     transition: all 0.10s ease-in;*/
}

#sidebar .open .menu-ind {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.glide-left .spec-menu-item {
    padding: 10px 0 10px 49px;
    background-color: rgba(228, 234, 236, 1);
    display: block;
    color: rgba(57, 62, 79, 0.7);
    font-size: 14px;
    text-decoration: none;
}

.glide-left .spec-menu-item:active,
.glide-left .spec-menu-item:hover,
.glide-left .spec-menu-item:focus {
    background-color: rgba(218, 224, 226, 1);
}

.glide-right {
    width: 250px;
    height: 100%;
    background-color: white;
    border-left: 1px rgba(57, 62, 79, 0.15) solid;
    box-sizing: border-box;
    float: left;
}

/************************main-page*/
.main-page {
    display: table;
    margin-left: 200px;
    border-color: #0066cc;
    width: 970px;
    padding-top: 50px;
    height: 100%;
    background-color: rgba(241, 243, 244, 1);
}

/*************************tab*/
#tab ul {
    list-style: none;
}

#tab .tab-title li {
    display: block;
    float: left;
    height: 58px;
    line-height: 58px;
    font-size: 16px;
    width: 83px;
    text-align: center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);

    border-bottom: 1px rgba(57, 62, 79, 0.15) solid;
}

#tab .tab-title .select {
    border-bottom: 1px rgba(0, 172, 213, 0.8) solid;
}

#tab .tab-content {
    clear: both;
}

#tab .tab-content-item {
    display: none;
    padding: 20px;
}

#tab .tab-content-item .sort {
    margin-bottom: 60px;
}

#tab .tab-content-item .sort h2,
#tab .tab-content-item .directory h2,
#tab .tab-content-item .tag h2 {
    font-size: 18px;
    color: grey;
    clear: both;
    font-weight: normal;
}

#tab .tab-content-item .sort .sort-list {
    margin-top: 10px;
    width: 100%;
}

#tab .tab-content-item .sort .sort-item {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    border-left: 1px solid rgba(0, 0, 0, 0.07);
    color: rgba(121, 133, 138, 1);
    padding: 10px;
    font-weight: normal;
    cursor: pointer;
}

#tab .tab-content-item .sort .sort-item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#tab .tab-content-item .sort .sort-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#tab .tab-content-item .sort .sort-list .sort-title {
    font-size: 14px;
}

#tab .tab-content-item .sort .sort-list .sort-count {
    background: rgba(207, 218, 221, 1);
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 2px 6px;
    float: right;
    letter-spacing: 1px;
}

#tab .tab-content-item .tag {
    margin-bottom: 60px;
}

#tab .tab-content-item .tag ul {
    list-style: none;
    height: max-content;
    margin-top: 10px;
}

#tab .tab-content-item .tag li {
    float: left;
    border-radius: 4px;
    margin-right: 3px;
    margin-bottom: 8px;
    background: rgba(0, 183, 226, 1);
    color: rgba(255, 255, 255, 0.9);
    padding: 2px 8px;
    letter-spacing: 1px;
    font-size: 12px;
    cursor: pointer;
}

/**********************directory*/
#tab .tab-content-item .directory {
    /*position: fixed;*/
    /*top: 58px;*/
    /*background: white;*/
    /*padding-bottom: 60px;*/
    position: relative;
    width: 209px;

}

#tab .tab-content-item .directory .directory-list {
    margin-top: 10px;
    width: 100%;
}

#tab .tab-content-item .directory .directory-item {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    border-left: 1px solid rgba(0, 0, 0, 0.07);
    color: rgba(121, 133, 138, 1);
    padding: 10px;
    font-weight: normal;
    cursor: pointer;
}

#tab .tab-content-item .directory .directory-item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#tab .tab-content-item .directory .directory-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#tab .tab-content-item .directory .directory-list .directory-title {
    font-size: 14px;
}

/***********************middle*/

.container .middle {
    display: table-cell;
    height: 100%;
    vertical-align: top;

    width: 720px;
}

.container .middle .middle-header {
    background: rgba(246, 248, 248, 1);
    padding: 20px;
    color: rgba(0, 0, 0, 0.9);
    border-bottom: 1px rgba(57, 62, 79, 0.15) solid;
}

.container .middle .middle-header h1 {
    font-weight: normal;
    font-size: 24px;

}

.container .middle .middle-header .desc {
    font-size: 12px;
    margin-top: 2px;
    letter-spacing: 2px;
    color: rgba(170, 183, 188, 1);
}

.middle .middle-list {
    padding: 20px;
    box-sizing: border-box;
}

/*card*/
.card-big-article {
    width: 100%;
    background: white;
    margin-bottom: 20px;
}

.card-big-article img {
    width: 100%;
}

.card-big-article .img {
    padding: 1px;
    width: 100%;
    box-sizing: border-box;
    height: 220px;
    overflow: hidden;
    cursor: pointer;
}

.card-small-article .text,
.card-big-article .text {
    padding: 20px 28px;
    box-sizing: border-box;
}

.card-big-article .text h2,
.card-small-article .text h2 {
    font-size: 30px;
    color: #58666e;
    cursor: pointer;
    font-weight: normal;
}

.card-big-article .text .desc,
.card-small-article .text .desc {
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 5px;
    color: rgba(120, 132, 138, 1);
    padding-bottom: 12px;
    border-bottom: 1px rgba(57, 62, 79, 0.07) solid;
}

.card-big-article .text .footer,
.card-small-article .text .footer {
    padding: 12px 0;
    font-size: 14px;
    color: rgba(170, 183, 188, 1);
}

.text .footer .author,
.text .footer .date,
.text .footer .comment {
    margin-right: 15px;
}

.card-small-article {
    width: 100%;
    background: white;
    margin-bottom: 20px;
    height: 180px;
    box-sizing: border-box;
    position: relative;
}

.card-small-article img {
    width: 100%;
    height: 100%;
}

.card-small-article .img {
    width: 30%;
    padding: 1px;
    height: 100%;
    box-sizing: border-box;
    float: left;
}

.card-small-article .text {
    /*width: 480px;*/
    width: 70%;
    box-sizing: border-box;
    float: left;
}

@media (max-width: 1200px) {
    .pag-max-width {
        max-width: 950px;
    }

    .container .main-page {
        width: 750px;
    }

    .card-big-article .text h2,
    .card-small-article .text h2 {
        font-size: 25px;
    }

    .card-small-article {
        height: auto;
    }

    .card-small-article img {
        height: auto;
    }

    .card-small-article .img {
        width: 100%;
        height: 220px;
        float: none;
        overflow: hidden;
    }

    .card-small-article .text {
        width: 100%;
        float: none;

    }
}

@media (max-width: 991px) {

    .hide-max-991 {
        display: none;
    }

    .pag-max-width {
        max-width: 740px;
    }

    .container .main-page {
        width: 540px;
    }

    /*.glide-right {*/
    /*display: none;*/
    /*}*/
}

@media (max-width: 768px) {
    .hide-max-768 {
        display: none;
    }

    .show-max-798 {
        display: block;
    }

    .pag-max-width {
        max-width: 100%;
    }

    .container .main-page {
        margin-left: 0;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .card-small-article .img,
    .card-big-article .img {
        height: 180px;
    }
}

@media (max-width: 500px) {
    .card-small-article .img,
    .card-big-article .img {
        height: 150px;
    }
}

@media (max-width: 320px) {
    .card-small-article .img,
    .card-big-article .img {
        height: 100px;
    }
}

